* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

body {
    height: 43em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../image/3425081.jpg);
}

.container {
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.container .forms {
    display: flex;
    align-items: center;
    width: 200%;
    height: 440px;
    transition: height 0.2s ease;
}

.container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 500px;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #ff1493;
    border-radius: 25px;
}

.form .input-field {
    margin-top: 30px;
    position: relative;
    height: 50px;
    width: 100%;
}

.input-field input {
    width: 100%;
    color: #000000;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    background: rgba(199, 42, 42, 0.1);
    padding: 10px 20px;
    border: #ff1493;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0);
    margin: 10px;
}

.input-field input:is(:focus, :valid) {
    border-bottom: 2px solid #ff1493;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    color: #999;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .text {
    color: #333;
    font-size: 15px;
}

.form a.text {
    color: #ff1493;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    background-color: #ff1493;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#showHidePw {
    position: absolute;
    right: 5px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

.Signinalert,
.loginalert {
    display: none;
    color: red;
    text-align: center;
    margin: 1em;
}